<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="css/ajouteleve.css">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>Créer un élève</title>
</head>
<body>
	<header>
		<nav th:replace="~{fragments::menu('admin')}"></nav>
	</header>
	<h1>Création d'un élève</h1>

	<form method="post">

		Nom <input type="text" name="nom"> Prénom <input type="text"
			name="prenom"> Année <select name="year" size=1>
			<option value=1 selected>HEI 1</option>
			<option value=2>HEI 2</option>
			<option value=3>HEI 3</option>
			<option value=4>HEI 4</option>
			<option value=5>HEI 5</option>
		</select> Domaine <select name="domaine" size=1>
			<option value="" selected>pas de selection</option>
			<option value="BTP">BTP</option>
			<option value="ITI">ITI</option>
		</select> <input type="submit" value="Créer"> <input type="checkbox"
			value="Admin">
	</form>
	<label th:text="${message}"></label>
</body>
</html>