<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="avancement.css">
	<body>
	<header>
	<a href="list">Accéder à la liste des TEA</a>
	<a href="Connexion">Déconnexion</a>
	<a href="changeMdp">Changer votre mot de passe</a>
	</header>
		<h1>Mon avancement des taches</h1>
		<div class="barreavancement">
			<label for="barre">Progression des taches:</label>
			<progress id="barre" max="25" th:value="${point}"></progress>
		</div>
<h2>Vos taches :</h2>
<table>
<tr th:each="tea : ${tea}">
 <td th:value="${tea.id}"></td>
 <td th:text="${tea.title}"></td> 
 <td th:date="${tea.releaseDate}"></td>
 <td th:value="${tea.duration}"></td>
 <td th:boolean="${tea.valide}"></td> 
 </tr>
 </table>

</body>
</html>