<!DOCTYPE html>
<html>
	<body>
		<h1>Mon avancement des taches</h1><br>
			<br>
			<label for="barre">Progression des TEA:</label>
			<progress id="barre" max="100" value="50"></progress><br>

			<label for="barre">Progression de la responsabilité :</label>
			<progress id="barre" max="100" value="30"></progress><br>

			<label for="barre">Progression de l'experience international :</label>
			<progress id="barre" max="100" value="100"></progress><br>

			<label for="barre">Progression des diplomes de langues:</label>
			<progress id="barre" max="100" value="70"></progress><br>

			<a href="listetaches">Accéder à la liste des taches ici</a>
			

</body>
</html>