<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="css/Connexion.css">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;
			 charset=UTF-8">
    <title>Connexion site info HEI</title>
</head>

<body>
<h1>Bienvenue sur la page de connexion !</h1>
<form method="post">
	<input type="text" name="nomUtil" placeholder="Nom Utilisateur">
	<input type="password" name="Mdp" placeholder="Mot de passe">
	<input type="submit" value="Connexion">
	</form>
	
	<label th:text="${alerte}"></label>
	
 </body>
</html>