<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<nav class="navbar navbar-inverse navbar-static-top"
		th:fragment="menu(currentPage)">
		<head>
			<meta charset="UTF-8">
			<title>Fragments</title>
			<link rel="stylesheet" type="text/css" href="css/fragment.css">
		</head>
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-9">
			<ul class="nav navbar-nav">
				<li th:unless="${currentAdmin} "><a href="avancement">avancement
						generale </a></li>
				<li th:unless="${!currentAdmin} "><a href="admin">liste des
						élèves </a></li>
				<li th:unless="${!currentAdmin} "><a href="newtea">ajouter
						un nouveau tea</a></li>
				<li th:if="${currentPage == 'list'} ? 'active' : ''"><a
					href="list">liste des TEA </a></li>
				<li style="float: right"><a href="changeMdp">Changer le mot
						de passe</a></li>
				<li style="float: right"><a href="Connexion">Déconexion</a></li>
			</ul>
		</div>
	</nav>
</body>
</html>