<!DOCTYPE html>
<html>
	<body>
		<h1>Ma liste de taches</h1>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>Nom</th>
							<th>Type</th>
							<th>Date de debut</th>
							<th>Date de fin</th>
							<th>Responsable</th>
							<th>Information</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="taches : ${Tacheslist}">
							<td th:text="${taches.id}">1</td>
							<td th:text="${taches.Nom}">Tresorier Declic</td>
							<td th:text="${taches.Type}">Responsabilité</td>
							<td th:text="${#temporals.format(taches.Datedebut, 'd MMMM yyyy')}">20 septembre 2021</td>
							<td th:text="${#temporals.format(taches.Datefin, 'd MMMM yyyy')}">1 juin 2022</td>
							<td th:text="${taches.Responsable}">Corentin Fauchet</td>
							<td>
								<a th:href="${'detail?id=' + film.id}" th:title="${'Details for ' + film.title}">
								<span class="glyphicon glyphicon-search"></span>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
	</body>
</html>