<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form method="post" id="form">
 <input name ="nom" type="text" th:placeholder="${eleve.nom}" id="nom"/>
<input name ="prenom" type="text" th:placeholder="${eleve.prenom}" id="prenom"/> 
<select name="year" size=1 id="year">
<option value=0 selected th:text="HEI +' '+ ${eleve.year}"></option>
<option value=1>HEI 1</option>
<option value=2>HEI 2</option>
<option value=3>HEI 3</option>
<option value=4>HEI 4</option>
<option value=5>HEI 5</option>
</select>
<select name="domaine" size=1 id="domaine">
<option value="" selected th:text="${eleve.domaine}"></option>
<option value="BTP">BTP</option>
<option value="ITI">ITI</option>
</select>
<input type="submit" value="Modif/suppr" id="bouton"/>
</form>
<script type="application/javascript" src="js/SupprModif.js"></script>
</body>
</html>