<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<link rel="stylesheet" type="text/css" href="css/ajouteleve.css">
<title>Insert title here</title>
</head>
<body>
	<header>
	<nav th:replace="~{fragments::menu('admin')}"></nav>
	</header>
	<form method="post" >
		<input name="nom" type="text" th:placeholder="${eleve.nom}"  />
		<input name="prenom" type="text" th:placeholder="${eleve.prenom}"
			 /> <select name="year" size=1 >
			<option value=0 selected th:text="HEI +' '+ ${eleve.year}"></option>
			<option value=1>HEI 1</option>
			<option value=2>HEI 2</option>
			<option value=3>HEI 3</option>
			<option value=4>HEI 4</option>
			<option value=5>HEI 5</option>
		</select> <select name="domaine" size=1>
			<option value="" selected th:text="${eleve.domaine}"></option>
			<option value="BTP">BTP</option>
			<option value="ITI">ITI</option>
			<option value="BAA">BAA</option>
			<option value="CM">CM</option>
			<option value="MOIL">MOIL</option>
			<option value="ESEA">ESEA</option>
			<option value="IMS">IMS</option>
			<option value="CITE">CITE</option>
			<option value="SMART CITIES">SMART CITIES</option>
			<option value="TEAM TEX">TEAM TEX</option>
		</select> <input type="submit" value="Modifier"  />
	</form>
</body>
</html>