<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
    <meta http-equiv="Content-Type" content="text/html;
			 charset=UTF-8">
    <title>Page des Tâches à valider</title>
</head>

<body>
	<form method="post">
		<h1>Ma liste de TEA</h1>
		
				<table class="table table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>Student</th>
							<th>Title</th>
							<th>Release date</th>
							<th>Duration</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="tea : ${NNtea}">
							<td th:text="${tea.id}"></td>
							<td th:text="${tea.eleve_id}"></td>
							<td th:text="${tea.title}"></td>
							<td th:text="${#temporals.format(tea.releaseDate, 'd MMMM yyyy')}"></td>
							<td th:text="${tea.valide}"></td>
							
						</tr>
					</tbody>
				</table>
				
		
			 </form>
	</body>
</html>