html{
	background-color: darkgrey;
}

body{ 
	background-color: darkgrey;
	margin: 0
}
table, th , td{
	border: 1px solid black;
}

table{
	background-color: grey;
	width: 50%;
	padding: 0.5em;
	text-align: center;
	margin: 0 auto;
	border-collapse: collapse;
}
td{
	padding: 1em;
}
.rechercher{
	text-align: center;
	padding-top: 5em;
	padding-bottom: 2em;
}
