html{
	background-color: white;
}

header {
	width: 100%;
	background-color: black;
	text-align: right;
	padding-bottom: 1em;
	padding-top: 1em;
}
a{
	color: white;
	padding: 0.3em
}

body{ 
background-color: darkgrey;
margin: 0
}

h1{
	text-align: center;

}

.barreavancement{
	width: 70%;
	margin: 0 auto;
	padding: 1em;
	font-size: 100%;
}

progress{
	width: 100%;
	height: 2em;
}


h2{
	text-align: center;
}

table, th , td{
	border: 1px solid black;
}

table{
	background-color: grey;
	width: 50%;
	padding: 0.5em;
	text-align: center;
	margin: 0 auto;
	border-collapse: collapse;

}

td{
	padding: 1em;
}
th:nth-child(even) {background-color: #f2f2f2;}
