html{
	background-color: darkgrey;
}
body{ 
background-color: darkgrey;
margin: 0
}
h2{
	text-align: center;
}
form{
	padding-top: 4em;
	text-align: center;
}
input[type=password]{
 width: 30%;
 margin: 0 auto;
 padding: 0.3em;
 text-align: center;

}
input[type=submit]{
	width: 10%;
	padding: 1em;
}