body{
	background-color: grey;

}
h3{
	text-align: center;
	padding-top: 5em;
}
.row{
	text-align: center;
}
form{
	text-align: center;
}
input[type=submit]{
	margin: 2em;
	background-color: white; 
	text-decoration: none;
	cursor: pointer;
}